@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #0A0E10;
  color: #F2F3EE;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.inner {
  width: min(100% - 2rem, 1145px);
  margin-inline: auto;
}

.pc-only {
  display: block;
}
@media (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

.btn {
  display: grid;
  place-items: center;
}

.whiteBtn {
  background-color: #F2F3EE;
}
.whiteBtn-text {
  color: #0A0E10;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.blackBtn {
  background-color: #0A0E10;
  border: 1px solid #F2F3EE;
}
.blackBtn-text {
  color: #F2F3EE;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.header {
  width: 100%;
}
.header-inner {
  width: 100%;
  height: 100%;
  padding: 40px 5.1%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logoArea {
  width: 124px;
  height: 32.4px;
}
.header-logoArea__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 767px) {
  .header-ul {
    display: none;
  }
}
.header-list__item {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.04em;
}
.header-list__btn {
  width: 120px;
  height: 38px;
  border-radius: 30px;
}

.fv-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .fv-inner {
    display: block;
  }
}
.fv-left__title {
  font-size: 52px;
  line-height: 72px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .fv-left__title {
    width: 100%;
    max-width: 305px;
    font-size: 40px;
    line-height: 48px;
    margin: 0 auto;
    text-align: center;
  }
}
.fv-right {
  max-width: 400px;
}
@media (max-width: 767px) {
  .fv-right {
    margin: 0 auto;
  }
}
.fv-right__text {
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .fv-right__text {
    max-width: 300px;
    margin: 20px auto 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}
.fv-right__btn {
  width: 175px;
  height: 51px;
  margin-top: 30px;
  border-radius: 30px;
}
@media (max-width: 767px) {
  .fv-right__btn {
    display: none;
  }
}
.fv-right__btn--spOnly {
  width: 214px;
  height: 47px;
  border-radius: 42px;
  margin: 36px auto 0;
  display: none;
}
@media (max-width: 767px) {
  .fv-right__btn--spOnly {
    display: grid;
  }
}
.fv-slider {
  height: 405px;
  margin-top: 70px;
}
@media (max-width: 767px) {
  .fv-slider {
    height: 205px;
    margin-top: 40px;
  }
}

/* スライダーのwrapper */
.fv-slider .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.swiper-slide {
  height: 100% !important; /* 高さを指定 */
  width: auto !important;
  margin: 0 20px;
}
.swiper-slide__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ========================================================================
Foundation - ファウンデーション
======================================================================== */
/* ========================================================================
	Layout - レイアウト
======================================================================== */
/* ========================================================================
	Objects - オブジェクト
======================================================================== */