@use "../foundation/color" as *;

$layout-width-inner: 1080px;

// ブレイクポイント
$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
    "pc": "(min-width: #{$layout-width-inner})",
);
// メディアクエリ
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.inner {
    width: min(100% - 2rem, 1145px);
    margin-inline: auto;
}

.pc-only {
  display: block;
  
  @include mq("sp") {
    display: none;
  }
}

.sp-only {
    display: none;

    @include mq("sp") {
        display: block;
    }
}

.btn {
    display: grid;
    place-items: center;
}
.whiteBtn {
    background-color: $primary_white;

    &-text {
        color: $primary_black;
        font-weight: 600;
        letter-spacing: 0.04em;
    }
}

.blackBtn {
    background-color: $primary_black;
    border: 1px solid $primary_white;
    
    &-text {
        color: $primary_white;
        font-weight: 600;
        letter-spacing: 0.04em;
    }
}